<footer class="custom-footer text-center ">
    <div class="social-icons mb-3">
        <a href="https://www.instagram.com/aman__saini__003?utm_source=ig_web_button_share_sheet&igsh=d3JibzFrdm0xYnFo" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <div class="copyright mb-2">
        <i class="far fa-copyright"></i> Wander-Lust Private Limited
    </div>

    <div class="footer-links">
        <a href="/terms">Terms</a>
        <span>|</span>
        <a href="/privacy">Privacy</a>
    </div>

    <div class="copyright mb-2">
        <i style="margin-left: 1px;" class="fa-solid fa-envelope"></i>amanpreetsingh8427126108@gmail.com
    </div>

</footer>